[submodule "kernel/nvgpu"]
	path = kernel/nvgpu
	url = git://nv-tegra.nvidia.com/linux-nvgpu.git
[submodule "hardware/nvidia/platform/t210/jetson"]
	path = hardware/nvidia/platform/t210/jetson
	url = git://nv-tegra.nvidia.com/device/hardware/nvidia/platform/t210/jetson.git
[submodule "kernel/t18x"]
	path = kernel/t18x
	url = git://nv-tegra.nvidia.com/linux-t18x.git
[submodule "kernel/nvhost"]
	path = kernel/nvhost
	url = git://nv-tegra.nvidia.com/linux-nvhost.git
[submodule "kernel/nvmap"]
	path = kernel/nvmap
	url = git://nv-tegra.nvidia.com/linux-nvmap.git
[submodule "kernel/nvmap-t18x"]
	path = kernel/nvmap-t18x
	url = git://nv-tegra.nvidia.com/linux-nvmap-t18x.git
[submodule "kernel/display"]
	path = kernel/display
	url = git://nv-tegra.nvidia.com/linux-display.git
[submodule "hardware/nvidia/soc/t18x"]
	path = hardware/nvidia/soc/t18x
	url = git://nv-tegra.nvidia.com/device/hardware/nvidia/soc/t18x.git
[submodule "hardware/nvidia/platform/tegra/common"]
	path = hardware/nvidia/platform/tegra/common
	url = git://nv-tegra.nvidia.com/device/hardware/nvidia/platform/tegra/common.git
[submodule "hardware/nvidia/platform/t18x/common"]
	path = hardware/nvidia/platform/t18x/common
	url = git://nv-tegra.nvidia.com/device/hardware/nvidia/platform/t18x/common.git
[submodule "hardware/nvidia/soc/t210"]
	path = hardware/nvidia/soc/t210
	url = git://nv-tegra.nvidia.com/device/hardware/nvidia/soc/t210.git
[submodule "hardware/nvidia/platform/t210/common"]
	path = hardware/nvidia/platform/t210/common
	url = git://nv-tegra.nvidia.com/device/hardware/nvidia/platform/t210/common.git
[submodule "hardware/nvidia/soc/tegra"]
	path = hardware/nvidia/soc/tegra
	url = git://nv-tegra.nvidia.com/device/hardware/nvidia/soc/tegra.git
[submodule "hardware/nvidia/platform/t18x/quill"]
	path = hardware/nvidia/platform/t18x/quill
	url = http://github.com/InES-HPMM/linux-l4t-4.4-hardware-t18x-quill.git
[submodule "kernel/kernel-4.4"]
	path = kernel/kernel-4.4
	url = https://github.com/InES-HPMM/linux-l4t-4.4-kernel.git
